@import url(roots.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;

    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),  url(../media/img/fondo2.webp);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;

    font-family: Traja;
    
}

.h-container{
    width: 100%;
    height: auto;
}

.h-container:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.titulo{
    width: 50%;
    height: auto;
    
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 2% auto;

    padding: 10px;
    
    background-color: rgb(20, 20, 20);
    border: 1px white solid;
    border-radius: 16px;

    color: white;
    text-align: center;
    text-shadow: 0 0 3px white;
    font-size: 24px;
}

.formulario-container{
    width: 100%;
    height: 100%;
    text-align: center;

}

.separadores{
    width: 60%;
    height: auto;
    padding: 20px;
    margin: 20px auto;

    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.801);

    color: white;
    font-size: 20px;  
    text-align: center;
}

.separadores legend{
    font-size: 24px;
    text-shadow: 0 0 5px white;
}

.btn-enviar{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    padding: 15px;

    background-color: rgb(8, 8, 8);
    border: 1px white solid;
    border-radius: 10px;

    font-size: 18px;
}

.btn-enviar{
    text-decoration: none;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-enviar:hover{
    background-color: rgb(32, 32, 32);
    transform: scale(1.2);
    transition: 0.3s;
}