@import url(roots.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;

    background-image: url(../media/img/fondo3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: Traja;
    
}

.container{
    width: 100%;
    height: 100vh;
    position: fixed;
}

.cuadro-txt{
    width: 500px;
    height: 500px;
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    padding: 20px;
    border-radius: 20px;

    align-content: center;

    text-align: center;
    background-color: rgba(12, 12, 12, 0.856);
    color: white;
    font-size: 20px;
}

.btn-rehacer{
    padding: 12px;
    background-color: rgb(15, 167, 15);
    border-radius: 16px;
    border: none;
    font-size: 18px;
    text-decoration: none;
    color: white;
    margin: 5px;
}

.btn-rehacer:hover{
    background-color: rgb(51, 223, 51);
    transform: scale(1.2);
    transition: 0.3s;
}

.btn-inicio{
    padding: 12px;
    background-color: rgb(15, 50, 167);
    border-radius: 16px;
    border: none;
    font-size: 18px;
    text-decoration: none;
    color: white;
    margin: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-inicio:hover{
    background-color: rgb(58, 96, 221);
    transform: scale(1.2);
    transition: 0.3s;
}