@import url(roots.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: Traja;
}

.div-content{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-image: url(../media/img/fondo1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.div-cuadro{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    position: absolute;

    width: 500px;
    max-height: fit-content;

    padding: 20px;

    background-color: rgba(19, 18, 18, 0.85);

    border: 2px white solid;
    border-radius: 16px;
    align-content: center;

    text-align: center;
    text-shadow: 0 0 3px white;
    color: white;
}

.div-cuadro img{
    max-width: 200px;
    height: 200px;
   
}

.btn{
    padding: 15px;
    margin-top: 70px;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    background-color: rgb(129, 123, 123);
}

.btn{
    text-decoration: none;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn:hover {
    transform: scale(1.2);
    transition: 0.3s;
    background-color: rgb(194, 182, 182);
}